.App {
  font-family: 'Montserrat', sans-serif;
  color: #cbb79c;
}

.content {
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

img.bg {
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=2f382300&noise=626262&density=21&opacity=100');
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=2f382300&noise=626262&density=21&opacity=100'),
    radial-gradient(circle, #495737, #29301f);
  filter: brightness(50%);
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

.header {
  position: fixed;
  display: grid;
  width: 99vw;
  height: 20vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'dropdown title socials';
  justify-items: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(black, rgba(255, 0, 0, 0));
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdown {
  position: fixed;
  grid-area: dropdown;
  margin: 62px 0 0 110px;
}

.dropbtn {
  width: 35px;
  height: 5px;
  background-color: #cbb79c;
  margin: 5px 0;
  cursor: pointer;
  z-index: 2;
}

.dropdown-content p {
  padding-top: 5px;
  text-decoration: none;
  display: block;
  margin-top: 35px;
  font-size: 1.2em;
  text-align: left;
}

.title {
  grid-area: title;
  margin-top: -10px;
  font-weight: 400;
}

.social {
  grid-area: socials;
  margin-top: -30px;
  margin-left: 190px;
}

.fb,
.insta,
.yt {
  padding-right: 15px;
  height: 35px;
  width: auto;
  filter: brightness(80%);
  color: #cbb79c;
  background: none;
}

.videoplayer {
  position: relative;
  top: 180px;
  width: 100%;
}

.videoplayer iframe {
  margin: 0 auto;
  display: block;
}

.videoplayer h1 {
  margin-top: 25px;
  text-align: center;
  letter-spacing: 3.5px;
  font-weight: 400;
  font-size: 1.8em;
}

img:hover,
.dropbtn1:hover {
  color: #b5a691;
  text-decoration: none;
  transition: opacity 0.3s ease;
  opacity: 0.3;
}

.news {
  position: relative;
  display: grid;
  width: 90vw;
  height: 1100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'news x';
  justify-items: center;
  align-items: center;
}

.news h1 {
  grid-area: news;
  font-weight: 400;
  letter-spacing: 3.5px;
  margin: 100px 0 0 0;
  border-bottom: 3px solid;
  padding: 10px 10px;
}

.newstiles {
  position: relative;
  display: grid;
  width: 40vw;
  height: 70vh;
  top: 140px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'tile1 tile2'
    'tile3 tile4';
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

.tile {
  grid-area: tile1;
  border: hidden;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.tile2 {
  grid-area: tile2;
  border: hidden;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.tile3 {
  grid-area: tile3;
  border: hidden;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.tile4 {
  grid-area: tile4;
  border: hidden;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.tile h2,
.date {
  font-weight: 400;
  text-align: center;
  margin-top: 20%;
  letter-spacing: 3.5px;
}

.tile p {
  font-size: 0.9em;
}

.tile:hover,
.tile2:hover,
.tile3:hover,
.tile4:hover,
.insta1:hover,
.insta2:hover,
.insta3:hover,
.insta4:hover,
.insta5:hover,
.insta6:hover,
.insta7:hover,
.insta8:hover {
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.4);
}

.live {
  position: relative;
  display: grid;
  width: 90vw;
  height: 880px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'live x';
  justify-items: center;
  align-items: center;
}

.live h1 {
  grid-area: live;
  font-weight: 400;
  letter-spacing: 3.5px;
  margin: 0px 0 0 0;
  border-bottom: 3px solid;
  padding: 10px 10px;
}

.gigs-row {
  position: relative;
  display: grid;
  width: 40vw;
  height: 8vh;
  top: -200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'tile1 tile2 tile3';
  border: hidden;
  border-radius: 10px 10px 10px 10px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.gigs-row:hover,
.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
}

.instagram h1 {
  text-align: center;
  letter-spacing: 3.5px;
  font-weight: 400;
  font-size: 1.8em;
  text-decoration: underline;
}

.instatiles {
  position: relative;
  display: grid;
  width: 65vw;
  height: 64vh;
  margin: 0 0 120px 300px;
  top: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'insta1 insta2 insta3 insta4'
    ' insta5 insta6 insta7 insta8';
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

.insta1 {
  grid-area: insta1;
  border: hidden;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.insta2 {
  grid-area: insta2;
  border: hidden;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.insta3 {
  grid-area: insta3;
  border: hidden;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.insta4 {
  grid-area: insta4;
  border: hidden;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.insta5 {
  grid-area: insta5;
  border: hidden;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.insta6 {
  grid-area: insta6;
  border: hidden;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.insta7 {
  grid-area: insta7;
  border: hidden;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.insta8 {
  grid-area: insta8;
  border: hidden;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.button {
  background: none;
  background-size: 360px;
  border-radius: 4px;
  border: none;
  text-align: center;
  display: inline-block;
  left: 46%;
  cursor: pointer;
  text-decoration: none;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 20px;
  line-height: 1.25rem;
  padding: 10px 30px 9px;
  letter-spacing: 1.2px;
  color: #cbb79c;
  box-sizing: border-box;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  border: 2px solid #cbb79c;
  z-index: 1;
}

.footer {
  position: relative;
  margin: 200px 0 0 -5px;
  width: 99vw;
  height: 30vh;
  background: linear-gradient(to top, black, 80%, rgba(255, 0, 0, 0));
  color: #cbb79c;
}

.footer p {
  position: relative;
  display: inline;
  top: 100px;
  left: 100px;
  padding: 20px;
}

.social1 {
  position: relative;
  width: 45vw;
  top: 120px;
  left: -278px;
  filter: brightness(80%);
}

.footer h2 {
  margin-top: 110px;
  text-align: center;
  letter-spacing: 3.5px;
  font-weight: 400;
  font-size: 1.8em;
}

.footer a {
  position: relative;
  left: 47.3%;
  font-weight: 400;
  font-size: 0.9em;
  color: #1d1d1c;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}
